@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Current = Umbraco.Web.Composing.Current;
@{
    var storeId = Guid.TryParse(ViewData["storeId"]?.ToString(), out Guid result) ? result : Guid.Empty;
    var productReference = ViewData["productReference"]?.ToString();

    var uowProvicer = Current.Factory.GetInstance<Vendr.Core.IUnitOfWorkProvider>();
    var repository = Current.Factory.GetInstance<Vendr.Contrib.ProductReviews.Factories.IProductReviewRepositoryFactory>();
    var service = new Vendr.Contrib.ProductReviews.Services.Implement.ProductReviewService(uowProvicer, repository);
    long total = 0;
    var reviews = service.GetProductReviews(storeId, productReference, 1, 10, out total);

    decimal totalScore = 5;
    decimal avgScore = reviews?.Average(x => x.Rating) ?? 0;
}

<script type="application/ld+json">
    {
        "@@context": "https://schema.org",
        "@@type": "Product",
        "aggregateRating": {
            "@@type": "AggregateRating",
            "bestRating": "@totalScore",
            "ratingValue": "@avgScore"
            "reviewCount": "@total"
        }
    }
</script>

<style>
    svg {
      width: 2em;
      height: 2em;
      fill: white;
      pointer-events: none;
    }

    .stars {
      display: flex;
      flex-flow: row-reverse;
      justify-content: flex-end;
    }

    .stars-small {
      display: flex;
    }

    .star.is-selected svg, 
    .star.is-selected ~ .star svg {
      fill: #df9e26;
    }

    .star:hover svg, 
    .star:hover ~ .star svg {
      fill: orange;
    }

    .product-reviews {
        margin-top: 50px;
        padding: 20px 0;
        border-top: 1px solid #ccc;
    }

    .review-summary {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: 10px 3px;
    }

    .review-summary .aggregated-rating-absolute {
        font-size: 36px;
        font-weight: bold;
    }

    .aggregated-rating-view {
        margin: 0 25px 0 10px;
    }

    .aggregated-rating-view > .rating {
      display: flex;
      flex-flow: row-reverse;
      justify-content: flex-end;
      position: relative;
      overflow: hidden;
    }

    .aggregated-rating-view > .rating .stars-empty,
    .aggregated-rating-view > .rating .stars-fill {
        display: flex;
        flex-flow: wrap;
        white-space: nowrap;
    }

    .aggregated-rating-view > .rating .stars-fill {
        position: absolute;
        left: 0;
        top: 0;
    }

    .aggregated-rating-view > .rating .stars-fill svg {
        fill: orange;
    }

    .aggregated-rating-view > .rating svg {
      width: 24px;
      height: 24px;
    }

    .aggregated-rating-view > .reviews-count {
      font-size: 14px;
      color: #a4a4a4;
    }

    #rated {
      margin-left: 1em;
    }

    .rtl {
      direction: rtl;
    }

    .review-list .review-item {
        margin: 10px 0;
        padding: 8px 0;
        border-top: 1px solid #efefef;
    }

    .review-list .review-item h4 {
        font-size: 16px;
        font-weight: bold;
    }

    .review-list .review-item svg {
        height: 20px;
        width: 20px;
    }

    .review-list .review-item .stars-small,
    .review-list .review-item .verified-buyer {
        display: inline-flex;
    }

    .review-list .review-item .verified-buyer {
        display: inline-flex;
        color: #a4a4a4;
        font-size: 14px;
        margin-left: 15px;
    }

    .review-list .review-item .verified-buyer svg {
        fill: #24ac24;
        margin-right: 0.25rem;
    }

    .review-form {
        border-top: 1px solid #efefef;
        padding: 15px 0;
    }
</style>

<section class="product-reviews">

    <h2 class="text-2xl font-bold">Customer Reviews</h2>

    <div>
        <svg style="display: none;">
            <symbol id="star" viewBox="0 0 98 92">
                <title>star</title>
                <path stroke='#000' stroke-width='5' d='M49 73.5L22.55 87.406l5.05-29.453-21.398-20.86 29.573-4.296L49 6l13.225 26.797 29.573 4.297-21.4 20.86 5.052 29.452z' fill-rule='evenodd' />
            </symbol>
        </svg>

        <div class="review-summary">
            <div class="aggregated-rating-absolute">
                <span>@String.Format("{0:0.0}", avgScore)</span>
            </div>
            <div class="aggregated-rating-view">
                <div class="rating">
                    <div class="stars-empty">
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                    </div>
                    <div class="stars-fill" style="width: @Math.Round(avgScore / totalScore * 100)%">
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                    </div>
                </div>
                <div class="reviews-count">@total Reviews</div>
            </div>

            <div>
                <button type="button" id="btnToggleReview" class="font-bold border-2 border-gray-900 px-4 py-1">Write a Review</button>
            </div>
        </div>

        @using (Html.BeginUmbracoForm("AddProductReview", "ProductReview", null, new { id = "reviewForm", @class = "review-form w-full max-w-lg hidden" }))
        {
            @Html.AntiForgeryToken();

            <input type="hidden" name="storeId" value="@storeId" />
            <input type="hidden" name="productReference" value="@productReference" />

            <div class="flex flex-col flex-wrap mb-4">

                <label class="font-bold mb-1">How would you rate this product?</label>

                <div style="display: inline-block">
                    <div id="stars" class="stars">
                        <button type="button" class="star"><svg><use xlink:href="#star"></use></svg></button>
                        <button type="button" class="star"><svg><use xlink:href="#star"></use></svg></button>
                        <button type="button" class="star"><svg><use xlink:href="#star"></use></svg></button>
                        <button type="button" class="star"><svg><use xlink:href="#star"></use></svg></button>
                        <button type="button" class="star"><svg><use xlink:href="#star"></use></svg></button>
                    </div>
                </div>
                <div id="rated"></div>

                <input type="hidden" name="rating" id="hdnRating" />
            </div>
            <div class="flex flex-col flex-wrap mb-4">
                <label class="font-bold mb-1">Name</label>
                <input type="text" name="name" placeholder="Enter your name" class="flex-1 bg-gray-200 px-4 py-2" required />
            </div>
            <div class="flex flex-col flex-wrap mb-4">
                <label class="font-bold mb-1">Email</label>
                <small>Your email will not be published.</small>
                <input type="text" name="email" placeholder="Enter your email" class="flex-1 bg-gray-200 px-4 py-2" required />
            </div>
            <div class="flex flex-col flex-wrap mb-4">
                <label class="font-bold mb-1">Title</label>
                <input type="text" name="title" placeholder="Enter a title" class="flex-1 bg-gray-200 px-4 py-2" required />
            </div>
            <div class="flex flex-col flex-wrap mb-4">
                <label class="font-bold mb-1">Your review</label>
                <textarea rows="5" name="description" placeholder="Enter a description" class="flex-1 bg-gray-200 px-4 py-2" required></textarea>
            </div>
            <div class="flex flex-wrap mb-4">
                <button type="submit" class="bg-gray-900 text-white px-4 py-2 hover:bg-teal-400">Add review</button>
            </div>
        }

        <div class="review-list">
            @foreach (var review in reviews)
            {
                <div class="review-item">
                    <div class="stars-small">
                        @for (var i = 0; i < 5; i++)
                        {
                            <svg style="@(i < review.Rating ? "fill: orange;" : null)"><use xlink:href="#star"></use></svg>
                        }
                    </div>
                    @if (review.VerifiedBuyer)
                    {
                        <span class="verified-buyer">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                                <path d="M0 0h48v48H0z" fill="none" />
                                <path d="M24 2L6 10v12c0 11.11 7.67 21.47 18 24 10.33-2.53 18-12.89 18-24V10L24 2zm-4 32l-8-8 2.83-2.83L20 28.34l13.17-13.17L36 18 20 34z" />
                            </svg>
                            Verified Buyer
                        </span>
                    }
                    <h4>@review.Title</h4>
                    <p>@review.Description</p>
                    <em>@review.Name</em>
                </div>
            }
        </div>
    </div>
</section>

<script>
    var btnToggleReview = document.getElementById('btnToggleReview');
    var reviewFormContainer = document.getElementById('reviewForm');

    btnToggleReview.addEventListener('click', function (e) {
        reviewFormContainer.classList.toggle('hidden');
    });

    var starContainer = document.getElementById('stars');
    var stars = Array.prototype.slice.call(starContainer.children);
    var totalStars = stars.length;
    var hdnRating = document.getElementById('hdnRating');
    var rated = document.getElementById('rated');

    starContainer.addEventListener('click', function (e) {
        var index = stars.indexOf(e.target);
        var count = count = totalStars - index;
        hdnRating.value = count;
        stars.forEach((el,i) => {
            el.classList.remove('is-selected');
        });
        e.target.classList.add('is-selected');
        rated.textContent = 'You have rated ' + count + ' stars';
    });
</script>